@use './typography';

.fr-breadcrumb__link {
  @extend .b2-regular;
  color: var(--foreground-text2) !important;
}

li:not(:last-child) .fr-breadcrumb__link {
  color: var(--dark-background-primary1) !important;
}