:root {
  --background-card: #FEFEFE;
  --background-dialog: #FDFDFD;
  --background-surface-background: #F6F6F6;

  --dark-background-primary1: #000091;

  --foreground-stroke: #14171A29;
  --foreground-text1: #14171ACC;
  --foreground-text2: #14171AA3;
}