# Application URL (do not use dev server for e2e tests, use `npm run preview:development`) 
# To run tests against a different environment, set the URL here and make sure to have the backend running and accessible at that URL.
VITE_API_URL=http://localhost:4173/cofolio

# No need for now because we use direct token authentication
#USERNAME=test.user@example.com
#PASSWORD=test-password
#VITE_AVENIR_ESR_ACCESS_TOKEN=your-token-here

# Test configuration
CI=true
# Set to true to enable review mode, which allows you to run only features included in review mode (not taged with @skip-review)
REVIEW_MODE=false